<h1> Showing all users </h1>

<table border=1 cellpadding=10 cellspacing=0>
	<tr> 
		<td>
			<b>Username</b>
		</td>
		<td>  
			<b>Email</b>  
		</td>
		<td> 
			<b>Is Admin?</b>
		</td>
	</tr>

<% @users.each do |user| %>
	<tr> 
		<td>
			<%= link_to user.login, user_path(user.id) %> 
		</td>
		<td>  
			<%= user.email %>  
		</td>
		<td> 
			<%= user.admin %>
		</td>
	</tr>
<% end %>

</table>

<p><%= link_to "Create a New User" , new_user_path %></p>