<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>AutoFileHoster</title>
    <%= stylesheet_link_tag 'screen', :media => 'all', :cache => true %>
  </head>
  <body>

	<% if logged_in? %>
		You are logged in as <%= current_user.login %>.  <%= link_to 'Logout', logout_path %>
		<br />
	<% end %>    

    <%= yield %>
    <p><br /><hr /><br />This is the bottom of every page.<br /></p>
  </body>
</html>